<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>{{ .Title }}</title>
	{{ .LinkCSS "main.css" }}
	{{ .LinkCSS "markdown.css" }}
	{{ .LinkJS "jquery.js" }}
	{{ template "Header" . }}
</head>
<body>
	<header>
		<div>
			<h1>{{ .Title }}</h1>
			<span>
				<a href="/page/create/">新規作成</a>, 
			{{ if eq .User "anonymous" }}
				<a href="/user/login/">ログイン</a>
			{{ else }}
				<a href="/user/view/{{.User}}">{{.User}}</a>, <a href="/user/logout/">ログアウト</a>
			{{ end }}
			</span>
		</div>
	</header>

	<aside>
	{{ .Plugin "sidebar" }}
	</aside>

	<section>
	
	{{ template "Content" . }}

	</section>
</body>
</html>
