<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>{{ .Title }}</title>
	{{ .LinkCSS "main.css" }}
	{{ .LinkCSS "markdown.css" }}
	{{ template "Header" . }}
</head>
<body>
	<header>
		<h1>{{ .Title }}</h1>
	</header>

	<div id="sidebar">
	{{ .Plugin "sidebar" }}
	</div>

	<article>
	
	{{ template "Content" . }}

	</article>
</body>
</html>
