package config

import "go-wiki/utils"

const (
	SiteTitle  string = "Go-Wiki"
	ServerPort string = "8080"
	DBHost     string = "localhost"
	DBPort     string = "3306"
	DBName     string = "go_wiki"
	DBUser     string = "go_wiki"
	DBPass     string = "example_passwd"
	DisplayLog bool   = true
	LogLevel   int    = utils.Level_Debug
	LogFile    string = "log"
	SessionKey string = "sample"
	EnableRegister bool = false
	EnableAnonymousEdit bool = false
)
