{{ define "Header" }}{{ end }}
{{ define "Content" }}

<form action="/page/save/" method="post">

	<input type="text" name="Title" value="タイトル" /><br />

	<textarea name="Content">内容</textarea><br />

	<input type="submit" value="保存" />
</form>

{{ end }}
