{{ define "Header" }}{{ end }}
{{ define "Content" }}
<form action="/page/save/" method="post">
	<input type="hidden" name="OldTitle" value="{{ .Information.Title }}" /><br />
	<input type="text" name="Title" value="{{ .Information.Title }}" /><br />
	<textarea name="Content">{{ .Information.Content.String }}</textarea><br />
	<input type="submit" value="保存" />
</form>
{{ end }}
