{{ define "Header" }}
{{ end }}
{{ define "Content" }}
<form action="/page/save/" method="post">
	<input type="hidden" name="OldTitle" value="{{ .Information.Title }}" /><br />
	<input class="title" type="text" name="Title" value="{{ .Information.Title }}" />
	<textarea class="content" name="Content">{{ .Information.Content.String }}</textarea>
	<div class="preview">

	</div>
	<input class="button" type="submit" value="保存" />
	<input class="locked" name="Locked" type="checkbox" value="1" {{ if .Information.Locked }}checked="checked"{{ end }}>ロックする
</form>
{{ end }}
