{{ define "Header" }}
{{ .LinkJS "form.js" }}
{{ end }}
{{ define "Content" }}

<h2>新規登録</h2>

<form action="/user/register/" method="POST">

	<table>
		<tr>
			<td>ユーザ名</td>
			<td><input class="name" type="text" name="Name" /></td>
		</tr>
		<tr>
			<td>メールアドレス</td>
			<td><input class="address" type="text" name="Address" /></td>
		</tr>
		<tr>
			<td>パスワード</td>
			<td><input class="password" type="password" name="Password" /></td>
		</tr>
		<tr>
			<td><input class="button" type="submit" value="登録" /></td>
		</tr>
	</table>

</form>

{{ end }}
